@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}
body {
    background-image: url('page1.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
}
.side {
    height: 95%; width: 12%;
    background: linear-gradient(0deg,rgba(0,234,249,1)55%,rgba(0,201,255,1)100%);
    border-radius: 0px 10px 20px 0px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    flex-direction:column;
    text-align: left;
    gap: 20px;
    padding: 1em;
}
.side .wellcome {
    margin-bottom: 5px;
}
.side h1{
    font-size: 22px;
}
.side .logout {
    margin-top: 5px;
    margin-bottom: 5px;
}
.side a {
    text-decoration: none;
    color: white;
    background: linear-gradient(130deg,rgba(255, 52, 25,1)0%,rgba(255, 123, 0,1)55%,rgba(255, 51, 0,1)100%);
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
    width: 100%;
    color: white;
    background: linear-gradient(130deg,rgb(0, 162, 255)0%,rgba(0,234,249,1)55%,rgba(0,201,255,1)100%);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list {
    height: 870px;
    width: 1650px;
    padding: 20px;
    border: none;
}
.content {
    display: none;
}
.content.active {
    display: block;
}
table {
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 90%;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #ddd;
}